name: C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        compiler: [g++, clang++]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          cmake \
          ${{ matrix.compiler == 'g++' && 'g++' || 'clang' }} \
          clang-tools \
          libc++-dev \
          libc++abi-dev

    - name: Configure CMake
      env:
        CXX: ${{ matrix.compiler }}
      run: |
        cmake -B ${{github.workspace}}/build \
              -DCMAKE_BUILD_TYPE=Release \
              -DCMAKE_CXX_STANDARD=23

    - name: Build
      run: cmake --build ${{github.workspace}}/build --parallel

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C Release --output-on-failure
